<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Graded Assessment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a SQLIte database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. 

Use the links below to read the data files using the Pandas library. 

* Chicago Census Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Public Schools

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Crime Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

**NOTE:** Ensure you use the datasets available on the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

Execute the below code cell to avoid prettytable default error.

In [3]:
!pip install ipython-sql prettytable

import prettytable

prettytable.DEFAULT = 'DEFAULT'

Defaulting to user installation because normal site-packages is not writeable
Looking in links: /usr/share/pip-wheels
Requirement already satisfied: ipython-sql in ./.local/lib/python3.10/site-packages (0.5.0)
Requirement already satisfied: prettytable in ./.local/lib/python3.10/site-packages (3.12.0)
Requirement already satisfied: ipython in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from ipython-sql) (8.20.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from ipython-sql) (2.0.25)
Requirement already satisfied: sqlparse in ./.local/lib/python3.10/site-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from prettytable) (0.2.5)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: exceptiongroup in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from ipython->ipython-sql) (1.2.0)
Requirement already satisfied: pexpect>4.3 in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

Load the `pandas` and `sqlite3` libraries and establish a connection to `FinalDB.db`

In [5]:
!pip install pandas 
import pandas as pd

!pip install ipython-sql
import sqlite3

Defaulting to user installation because normal site-packages is not writeable
Looking in links: /usr/share/pip-wheels
Requirement already satisfied: pandas in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Looking in links: /usr/share/pip-wheels
Requirement already satisfied: ipython-sql in ./.local/lib/python3.10/site-packages (0.5.0)
Requirement already satisfied: prettytable in ./.local/lib/python3.10/site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from ipython-sql) (8.20.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from ipython-sql) (2.0.25)
Requirement already satisfied: sqlparse in ./.local/lib/python3.10/site-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: exceptiongroup in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from ipython->ipython-sql) (1.2.0)
Requirement already satisfied: pexpect>4.3 in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

Load the SQL magic module

In [6]:
import sql
%load_ext sql

Use `Pandas` to load the data available in the links above to dataframes. Use these dataframes to load data on to the database `FinalDB.db` as required tables.

In [119]:
''' Load Data from URLs into DataFrames
url = ".csv"
df = pd.read_csv('url') '''

import csv

# Chicago Census Data
#url_1 = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01"
url_1 = "csv/ChicagoCensusData.csv"

# Chicago Public Schools
#url_2 = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01"
url_2 = "csv/ChicagoPublicSchools.csv"

# Chicago Crime Data
#url_3 = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01'
url_3 = "csv/ChicagoCrimeData.csv"

dfChicagoCensusData = pd.read_csv(url_1)
dfChicagoPublicSchools = pd.read_csv(url_2)
dfChicagoCrimeData = pd.read_csv(url_3)

# Connect to the SQLite database
con = sqlite3.connect("FinalDB.db")
cursor = con.cursor()

# Insert DataFrames into SQLite database
# df.to_sql('table1', conn, if_exists='replace', index=False)
dfChicagoCensusData.to_sql('Chicago_Census_Data', con, if_exists='replace', index=False, method="multi");
dfChicagoPublicSchools.to_sql('Chicago_Public_Schools', con, if_exists='replace', index= False, method="multi");
dfChicagoCrimeData.to_sql('Chicago_Crime_Data', con, if_exists='replace', index=False, method="multi");

Establish a connection between SQL magic module and the database `FinalDB.db`

In [23]:
%sql sqlite:///FinalDB.db

You can now proceed to the the following questions. Please note that a graded assignment will follow this lab and there will be a question on each of the problems stated below. It can be from the answer you received or the code you write for this problem. Therefore, please keep a note of both your codes as well as the response you generate.

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [129]:
'''
Problem 1
Find the total number of crimes recorded in the CRIME table
'''
%sql SELECT count(ID) FROM Chicago_Crime_Data;

 * sqlite:///FinalDB.db
Done.

[(533,)]

In [131]:
''' Checking Tables Chicago_Census_Data '''

# Define the query
query = "SELECT * FROM Chicago_Census_Data LIMIT 3;"

# Execute the query
cursor.execute(query)

# Fetch all rows from the result set
rows = cursor.fetchall()

# Print the results
#for row in rows:
#    print(row)

pd.read_sql_query("SELECT * FROM Chicago_Census_Data LIMIT 3;", con)

,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,PERCENT_OF_HOUSING_CROWDED,PERCENT_HOUSEHOLDS_BELOW_POVERTY,PERCENT_AGED_16__UNEMPLOYED,PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA,PERCENT_AGED_UNDER_18_OR_OVER_64,PER_CAPITA_INCOME,HARDSHIP_INDEX
0,1.0,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939,39.0
1,2.0,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0
2,3.0,Uptown,3.8,24.0,8.9,11.8,22.2,35787,20.0

In [133]:
''' Checking Tables Chicago_Public_Schools '''
pd.read_sql_query("SELECT * FROM Chicago_Public_Schools LIMIT 3;", con)

,School_ID,NAME_OF_SCHOOL,"Elementary, Middle, or High School",Street_Address,City,State,ZIP_Code,Phone_Number,Link,Network_Manager,...,Freshman_on_Track_Rate__,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,Ward,Police_District,Location
0,610038,Abraham Lincoln Elementary School,ES,615 W Kemper Pl,Chicago,IL,60614,(773) 534-5720,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,NDA,1171699.458,1915829.428,41.924497,-87.644522,7,LINCOLN PARK,43,18,"(41.92449696, -87.64452163)"
1,610281,Adam Clayton Powell Paideia Community Academy ...,ES,7511 S South Shore Dr,Chicago,IL,60649,(773) 535-6650,http://schoolreports.cps.edu/SchoolProgressRep...,Skyway Elementary Network,...,NDA,1196129.985,1856209.466,41.760324,-87.556736,43,SOUTH SHORE,7,4,"(41.76032435, -87.55673627)"
2,610185,Adlai E Stevenson Elementary School,ES,8010 S Kostner Ave,Chicago,IL,60652,(773) 535-2280,http://schoolreports.cps.edu/SchoolProgressRep...,Midway Elementary Network,...,NDA,1148427.165,1851012.215,41.747111,-87.731702,70,ASHBURN,13,8,"(41.74711093, -87.73170248)"

In [135]:
''' Checking Tables Chicago_Crime_Data '''
# Magic :D
%sql SELECT * FROM Chicago_Crime_Data LIMIT 3;

 * sqlite:///FinalDB.db
Done.

[(3512276, 'HK587712', '2004-08-28', '047XX S KEDZIE AVE', '890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 0, 0, 911, 9, 14.0, 58.0, '6', 1155838.0, 1873050.0, 2004, 41.8074405, -87.70395585, '(41.8074405, -87.703955849)'),
 (3406613, 'HK456306', '2004-06-26', '009XX N CENTRAL PARK AVE', '820', 'THEFT', '$500 AND UNDER', 'OTHER', 0, 0, 1112, 11, 27.0, 23.0, '6', 1152206.0, 1906127.0, 2004, 41.89827996, -87.71640551, '(41.898279962, -87.716405505)'),
 (8002131, 'HT233595', '2011-04-04', '043XX S WABASH AVE', '820', 'THEFT', '$500 AND UNDER', 'NURSING HOME/RETIREMENT HOME', 0, 0, 221, 2, 3.0, 38.0, '6', 1177436.0, 1876313.0, 2011, 41.81593313, -87.62464213, '(41.815933131, -87.624642127)')]

### Problem 2

##### List community area names and numbers with per capita income less than 11000.

In [137]:
'''
Problem 2
List community area names and numbers with per capita income less than 11000
'''
#!pip install ipython-sql
#%reload_ext sql
#%sql sqlite:///FinalDB.db
#%sql PRAGMA table_info(Chicago_Census_Data); 

%sql SELECT COMMUNITY_AREA_NAME, PER_CAPITA_INCOME \
    FROM Chicago_Census_Data \
    WHERE PER_CAPITA_INCOME < 11000;

 * sqlite:///FinalDB.db
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

In [139]:
%%sql
SELECT COMMUNITY_AREA_NAME, PER_CAPITA_INCOME 
    FROM Chicago_Census_Data 
    WHERE PER_CAPITA_INCOME < 11000;

 * sqlite:///FinalDB.db
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

### Problem 3

##### List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)

In [147]:
'''
Problem 3
List all case numbers for crimes involving minors?
(children are not considered minors for the purposes of crime analysis)
'''
#%sql SELECT case_number FROM Chicago_Crime_Data \
#    WHERE PRIMARY_TYPE = 'OFFENSE INVOLVING CHILDREN';

'\nProblem 3\nList all case numbers for crimes involving minors?\n(children are not considered minors for the purposes of crime analysis)\n'

In [149]:
%%sql 
SELECT DISTINCT CASE_NUMBER, PRIMARY_TYPE, DESCRIPTION
FROM Chicago_Crime_Data
WHERE DESCRIPTION LIKE '%MINOR%';

 * sqlite:///FinalDB.db
Done.

[('HL266884', 'LIQUOR LAW VIOLATION', 'SELL/GIVE/DEL LIQUOR TO MINOR'),
 ('HK238408', 'LIQUOR LAW VIOLATION', 'ILLEGAL CONSUMPTION BY MINOR')]

### Problem 4

##### List all kidnapping crimes involving a child?

In [151]:
'''
Problem 4
List all kidnapping crimes involving a child?
'''
%sql SELECT DISTINCT CASE_NUMBER, PRIMARY_TYPE, DESCRIPTION \
    FROM Chicago_Crime_Data \
    WHERE PRIMARY_TYPE='KIDNAPPING' and DESCRIPTION LIKE '%CHILD%';

 * sqlite:///FinalDB.db
Done.

[('HN144152', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER')]

### Problem 5

##### List the kind of crimes that were recorded at schools. (No repetitions)

In [153]:
'''
Problem 5
List the kind of crimes that were recorded at schools. (No repetitions)
'''
%sql SELECT DISTINCT CASE_NUMBER, (PRIMARY_TYPE) AS 'Kind of crime', LOCATION_DESCRIPTION, DESCRIPTION \
    FROM Chicago_Crime_Data \
    WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%' \
    ORDER BY PRIMARY_TYPE;

 * sqlite:///FinalDB.db
Done.

[('HT315369', 'ASSAULT', 'SCHOOL, PUBLIC, GROUNDS', 'PRO EMP HANDS NO/MIN INJURY'),
 ('HL353697', 'BATTERY', 'SCHOOL, PUBLIC, GROUNDS', 'SIMPLE'),
 ('HL725506', 'BATTERY', 'SCHOOL, PUBLIC, BUILDING', 'PRO EMP HANDS NO/MIN INJURY'),
 ('HP716225', 'BATTERY', 'SCHOOL, PUBLIC, BUILDING', 'SIMPLE'),
 ('HH639427', 'BATTERY', 'SCHOOL, PUBLIC, BUILDING', 'SIMPLE'),
 ('JA460432', 'BATTERY', 'SCHOOL, PUBLIC, GROUNDS', 'SIMPLE'),
 ('HS200939', 'CRIMINAL DAMAGE', 'SCHOOL, PUBLIC, GROUNDS', 'TO VEHICLE'),
 ('HR585012', 'CRIMINAL TRESPASS', 'SCHOOL, PUBLIC, GROUNDS', 'TO LAND'),
 ('HK577020', 'NARCOTICS', 'SCHOOL, PUBLIC, GROUNDS', 'POSS: HEROIN(WHITE)'),
 ('HS305355', 'NARCOTICS', 'SCHOOL, PUBLIC, BUILDING', 'MANU/DEL:CANNABIS 10GM OR LESS'),
 ('HH292682', 'PUBLIC PEACE VIOLATION', 'SCHOOL, PRIVATE, BUILDING', 'BOMB THREAT'),
 ('G635735', 'PUBLIC PEACE VIOLATION', 'SCHOOL, PUBLIC, BUILDING', 'BOMB THREAT')]

### Problem 6

##### List the type of schools along with the average safety score for each type.

In [155]:
'''
Problem 6
List the type of schools along with the average safety score for each type
'''
%sql SELECT NAME_OF_SCHOOL, "Elementary, Middle, or High School" as TYPE_OF_SHCOOL, \
    AVG(SAFETY_SCORE) as AVERAGE_SAFETY_SCORE \
    FROM Chicago_Public_Schools \
    GROUP BY "Elementary, Middle, or High School";

 * sqlite:///FinalDB.db
Done.

[('Abraham Lincoln Elementary School', 'ES', 49.52038369304557),
 ('Air Force Academy High School', 'HS', 49.62352941176471),
 ('Albany Park Multicultural Academy', 'MS', 48.0)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [157]:
'''
Problem 7
List 5 community areas with highest % of households below poverty line
'''
%sql SELECT COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY \
    FROM Chicago_Census_Data \
    ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC LIMIT 5;

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

### Problem 8

##### Which community area is most crime prone? Display the coumminty area number only.

In [159]:
'''
Problem 8
Which community area is most crime prone? Display the coumminty area number only.
'''
%sql SELECT COMMUNITY_AREA_NUMBER, COUNT(COMMUNITY_AREA_NUMBER) AS Crime_Count \
    FROM Chicago_Crime_Data \
    GROUP BY COMMUNITY_AREA_NUMBER \
    ORDER BY Crime_Count DESC \
    LIMIT 1;

 * sqlite:///FinalDB.db
Done.

[(25.0, 43)]


Double-click **here** for a hint

<!--
Query for the 'community area number' that has most number of incidents
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [161]:
'''
Problem 9
Use a sub-query to find the name of the community area with highest hardship index
'''
%sql SELECT COMMUNITY_AREA_NAME \
    FROM Chicago_Census_Data \
    WHERE HARDSHIP_INDEX = (SELECT MAX(HARDSHIP_INDEX) FROM Chicago_Census_Data);

 * sqlite:///FinalDB.db
Done.

[('Riverdale',)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [165]:
'''
Problem 10
Use a sub-query to determine the Community Area Name with most number of crimes?
'''

''' ONLY COMMUNITY_AREA_NAME '''
%sql SELECT COMMUNITY_AREA_NAME \
    FROM Chicago_Census_Data \
    WHERE COMMUNITY_AREA_NUMBER = \
        (SELECT COMMUNITY_AREA_NUMBER \
            FROM Chicago_Crime_Data \
            GROUP BY COMMUNITY_AREA_NUMBER \
            ORDER BY COUNT(COMMUNITY_AREA_NUMBER) DESC LIMIT 1);

 * sqlite:///FinalDB.db
Done.

[('Austin',)]

In [ ]:
''' :D BETTER ONE: COMMUNITY_AREA_NAME, COMMUNITY_AREA_NUMBER, Crime_Count '''

In [163]:
%%sql 
SELECT 
    CCD.COMMUNITY_AREA_NAME, 
    CCD.COMMUNITY_AREA_NUMBER, 
    COUNT(CrD.COMMUNITY_AREA_NUMBER) AS Crime_Count 
FROM 
    Chicago_Crime_Data CrD 
JOIN 
    Chicago_Census_Data CCD 
    ON CrD.COMMUNITY_AREA_NUMBER = CCD.COMMUNITY_AREA_NUMBER 
WHERE 
    CrD.COMMUNITY_AREA_NUMBER = ( 
        SELECT 
            COMMUNITY_AREA_NUMBER 
        FROM 
            Chicago_Crime_Data 
        GROUP BY 
            COMMUNITY_AREA_NUMBER 
        ORDER BY 
            COUNT(COMMUNITY_AREA_NUMBER) DESC LIMIT 1) 
GROUP BY 
    CCD.COMMUNITY_AREA_NUMBER, CCD.COMMUNITY_AREA_NAME;

 * sqlite:///FinalDB.db
Done.

[('Austin', 25.0, 43)]

In [28]:
# Commit and Close
con.commit()
cursor.close()
con.close()

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>
<h4>Abhishek Gagneja</h4>
<!--
## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
|2023-10-18  | 2.6     | Abhishek Gagneja  | Modified instruction set |
| 2022-03-04 | 2.5     | Lakshmi Holla     | Changed markdown.                   |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |
-->
## <h3 align="center"> © IBM Corporation 2023. All rights reserved. <h3/>